.bgbody{
background: rgb(2,0,36);
background: linear-gradient(270deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
/* background sombre modal */
.modal {
    display: none; /* caché par défaut */
    position: fixed; /*fixe*/
    z-index: 1; /* fixé devant */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /*scroll possible */
    background-color: rgb(0,0,0); /* couleur du fond sombre */
    background-color: rgba(0,0,0,0.4); /* opacité noire */
  }
  
  /* contenue modal */
  .modal-content {
    background-color: #fefefe;
    margin: 30% auto; /* 30% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* button close */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }